
.execution-control-additional {
    float: right;
}

.execution-loading {
    text-align: center;
}

.execution label {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
}

.execution-retry {
    margin-left: 1em;
}

.acquire-details {
    padding-bottom: 10px;
}

.acquire-details + .acquire-details {
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
}

.acquire-info {
}

.acquire-options {
    overflow: hidden;
}

.acquire-options-toggle-wrap {
    margin-bottom: 10px;
}

.extract-details {
}

.extract-info {
}

.extract-options {
    overflow: hidden;
}

.extract-options-toggle-wrap {
    margin-bottom: 10px;
}

.execution-option-label {
    width: 180px;
    color: #888;
}

.task-status {
    font-weight: bold;
}

.task-status-icon {
    margin-right: 5px;
}