
.monitor-controls-footer {
    padding: 1.5em;
    text-align: center;
}

.monitor-loading {
    padding: 1.5em;
    text-align: center;
    color: #aaa;
}

.monitor-empty {
    padding: 1.5em;
    text-align: center;
    color: #aaa;
}

.monitor-btn-retry {
    padding: 0 10px;
    margin: 0;
}
