
/* React Datepicker overrides */

.react-datepicker {
    font-size: 11px;
}

.react-datepicker__navigation {
    height: initial;
    margin-bottom: 0;
}

.react-datepicker__navigation:hover {
    border-color: transparent;
}

.react-datepicker__time-container li {
    width: 100%;
    margin: 0;
}
