
/* Basic Wavemaker style properties */

html {
    font-family: "Calibri light";
    font-weight: 700;
}

body {
    background-color: #f0f0f0;
    color: #3d413d;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

header {
    height: 4em;
    background-color: #ed6b31;
    color: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .08);
}

header section {
    max-width: 60em;
    margin: 0 auto;
}

header h1 {
    font-size: 1.3em;
    line-height: 3;
}

main {
    max-width: 60em;
    margin: 0 auto;
}

footer {
    text-align: center;
    font-size: .8em;
}

.panel {
    background-color: #fff;
    margin: 1em 0;
    padding: 2em;
    border-radius: .5em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .08);
}