
/* Basic Wavemaker style properties */

html {
    font-family: "Calibri light";
    font-weight: 700;
}

body {
    background-color: #f0f0f0;
    color: #3d413d;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

header {
    height: 4em;
    background-color: #ed6b31;
    color: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .08);
}

header section {
    max-width: 60em;
    margin: 0 auto;
}

header h1 {
    font-size: 1.3em;
    line-height: 3;
}

main {
    max-width: 60em;
    margin: 0 auto;
}

footer {
    text-align: center;
    font-size: .8em;
}

a {
    cursor: pointer;
}

.panel {
    background-color: #fff;
    margin: 1em 0;
    padding: 2em;
    border-radius: .5em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .08);
}

.tab {
    display: inline-block;
    border-radius: .5em;
}

.tab a {
    display: inline-block;
    padding: .5em 1em;
}

.tab-selected {
    background-color: #f6f6f6;
}

.monitoring-grid-loading {
    margin: 1em;
    text-align: center;
}

.execution-partial {
    display: inline-block;
    height: 1em;
    width: 2em;
    padding: .2em 0;
    font-size: 24px;
    line-height: 1;
    text-align: center;
}

.execution-success {
    background-color: #548235;
    color: #fff;
}

.execution-failure {
    background-color: #9e323a;
    color: #fff;
}

.execution-running {
    background-color: #f9ae42;
    color: #fff;
}
