
.column-filter {
    /*position: relative;*/
}

.filter-button {
    margin: 0 .8em;
    padding: 0 1em;
}

.filter-menu {
    position: fixed;
    z-index: 1000;
    width: 200px;
    margin-top: .8em;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: .5em;
}

.filter-menu-row {
    padding: 1em;
}

.filter-menu-row label {
    display: inline;
    padding-left: .5em;
    vertical-align: text-bottom;
}

.filter-cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
}

.filter-cover-open {
    display: block;
}
