{% macro tabs(selected='') -%}
    <div class="tabs">
        <span class="{{ 'tab tab-selected' if selected == 'monitoring' else 'tab' }}">
            <a href="/monitoring">Monitoring</a>
        </span>
        <span class="{{ 'tab tab-selected' if selected == 'schedules' else 'tab' }}">
            <a href="/schedules">Schedules</a>
        </span>
        <span class="{{ 'tab tab-selected' if selected == 'adhoc' else 'tab' }}">
            <a href="/adhoc">Ad Hoc</a>
        </span>
    </div>
{%- endmacro %}

<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />

        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}" />

        <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/skeleton.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />

        <title>Data Lake</title>
        {% endblock %}
    </head>
    <body>

        <header>
            <section>
                <h1>
                    <a href="/" title="Data Lake">{% block heading %}Data Lake{% endblock %}</a>
                </h1>
            </section>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            Created by Dan Jones for Wavemaker UK
        </footer>

        {% block scripts %}{% endblock %}
    </body>
</html>