<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />

        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}" />

        <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/skeleton.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />

        <title>Data Lake</title>
        {% endblock %}
    </head>
    <body>

        <header>
            <section>
                <h1>{% block heading %}Data Lake{% endblock %}</h1>
            </section>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            Created by Dan Jones for Wavemaker UK
        </footer>

        <script type="text/javascript" src="{{ url_for('static', filename='scripts/public/monitoring.js') }}"></script>
    </body>
</html>