
.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 850;
    /*margin: -50%;*/
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1em;
}

.dialog-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 800;
    background: rgba(0, 0, 0, .3);
}
