
.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
}

.dialog-box {
    position: relative;
    top: -50%;
    left: -50%;
    z-index: 850;
    border: 1px solid #ccc;
}

.dialog-contents {
    background-color: #fff;
    padding: 1em;
}

.dialog-contents p {
    margin: 0;
}

.dialog-controls {
    padding: .5em;
    border-top: 1px solid #ccc;
    background-color: #f0f0f0;
    text-align: center;
}

.dialog-controls button,
.dialog-controls .button {
    margin: 0;
}

.dialog-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 800;
    background: rgba(0, 0, 0, .3);
}
