{% macro tabs(selected='') -%}
    <div class="tabs">
        <span class="{{ 'tab tab-selected' if selected == 'monitoring' else 'tab' }}">
            <a href="/monitoring">Monitoring</a>
        </span>
        <span class="{{ 'tab tab-selected' if selected == 'schedules' else 'tab' }}">
            <a href="/schedules">Schedules</a>
        </span>
        <span class="{{ 'tab tab-selected' if selected == 'adhoc' else 'tab' }}">
            <a href="/adhoc">Ad Hoc</a>
        </span>
    </div>
{%- endmacro %}

<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/skeleton.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />

        <title>Titan</title>
        {% endblock %}

        <script type="text/javascript">
            var authorisation = { accessToken: '{{ access_token }}' };
            var adalConfig = { endpoints: {}};
        </script>

    </head>
    <body>

        <header>
            <section>
                <h1>
                    <a href="/" title="Titan">{% block heading %}Titan{% endblock %}</a>
                </h1>
            </section>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>



        <footer>
            Created by Dan Jones for Wavemaker UK
        </footer>

        <div id="scroll-to-top"></div>
        <script src="{{ url_for('static', filename='scripts/public/scrollToTop.js') }}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>