
.schedule-days {
    /*width: 200px;*/
}

.schedule-days label {
    display: inline-block;
    width: 3em;
}

.schedule-days input[type=checkbox] {
    display: block;
    margin: 0 auto;
}

.schedule-days .label-body {
    text-align: center;
    margin: 0;
}
