
.schedule-days .schedule-days-label {
    display: inline-block;
    width: 3.2em;
    padding: 5px 0 0;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: .2s;
    transition-property: background-color;
}

.schedule-days .schedule-days-label:hover {
    background-color: rgba(249, 174, 66, .15);
}

.schedule-days .schedule-days-input {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.schedule-days .schedule-days-text {
    text-align: center;
    display: block;
}
